In [8]:
from  flipside import Flipside
import pandas as pd

In [10]:
def load_sql(filepath):
    with open (filepath, 'r') as file:
        return file.read()

sql = load_sql('Scripts/SQL/test.sql')

In [11]:
flipside = Flipside("025c9fa7-616d-40d2-8756-701e6cf43f82", "https://api-v2.flipsidecrypto.xyz")
sql = load_sql('Scripts/SQL/test.sql')
query_result_set = flipside.query(sql)
query_result_set.records
df = pd.DataFrame(query_result_set.records)
df.head()

                       hour  tx_count  __row_index
0  2024-07-30T08:00:00.000Z     45837            0
1  2024-07-25T07:00:00.000Z     45271            1
2  2024-07-30T17:00:00.000Z     50736            2
3  2024-07-25T10:00:00.000Z     48281            3
4  2024-07-25T16:00:00.000Z     50874            4